/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}
textarea {
  padding: 1.5em;
}

/* 
====== 
Buttons 
======
*/

.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
.btn-details {
  padding: 0.25rem 0.4rem;
}
.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}

.btn-delete {
  background-color: #dd2626;
}


/* 
====== 
Header
======
*/
.header {
  background: var(--mainWhite);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.header-links {
  display: flex;
  align-items: center;
}
.header-links li {
  list-style: none;
}
.header-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.75rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.header-links a:hover {
  color: var(--primaryColor);
}
.logo {
  width: 3rem;
}

header .logout-button {
  background-color: rgb(223, 20, 20);
  color: white;
  width: fit-content;
  padding: 0.5em 1em;
  margin-left: 2em;
}

/* USERS LIST*/
.users-list {
  margin: 8rem auto;
  width: 80vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.users-list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
  background-color: rgba(211, 211, 187, 0.514);
  border-radius: 10px;
}

.users-list span {
  color: gray;
  font-size: 2rem;
}

span.nth {
  color: black;
  font-size: 2rem;
  margin: 10px 0 0 0;
}

button.del {
  background-color: rgb(231, 53, 53);
}


/* 
====== 
Pizza List 
======
*/

.list {
  padding: 5rem 0;
}
.list-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.list-items {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
}
@media screen and (min-width: 576px) {
  .list-items {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

/* 
====== 
Pizza 
======
*/

.pizza-box {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
}
.pizza-box:hover {
  box-shadow: var(--darkShadow);
}
.pizza-box img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.pizza-footer {
  padding: 1.5rem;
}
.pizza-footer h3,
.pizza-footer h4,
.pizza-footer p {
  margin-bottom: 0.3rem;
}
.pizza-footer h3 {
  font-size: 2rem;
}
.pizza-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}

/* 
====== 
SinglePizza
======
*/

.pizza-section {
  text-align: center;
}
.pizza-section .btn {
  margin: 1rem 0 3.5rem;
} 
.pizza {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}
.pizza img {
  border-radius: var(--mainBorderRadius);
}
.pizza p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.pizza span {
  margin-right: 0.5rem;
}
.pizza-data {
  background: var(--primaryLightColor);
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: var(--primaryColor);
}
.pizza-info {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  .pizza {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
  .pizza-info {
    padding-top: 0;
  }
}

/* 
======
PizzaForm
======
*/

.error, p.radio.error {
  color: #dd2626;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

p.radio.error {
  text-align: center;
  margin-top: 1rem;
}


form {
  width: 95%;
  max-width: 500px;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: #559e213f;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

input,
select {
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  color: white;
  border: 2px solid #4a5568;
  background-color: var(--primaryColor);
  border-radius: 10px;
  outline: none;
}

input:focus,
select:focus {
  border-color: #4299e1;
}

input::placeholder,
select::placeholder {
  color: #a0aec0;
}


button {
  display: block;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
  background-color: #4299e1;
  color: #1a202c;
  border: none;
  border-radius: 3px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

input.input-error,
select.input-error {
  border-color: #dd2626;
}

button:disabled {
  opacity: 0.35;
}

button.reset {
  background-color: rgba(255, 255, 255, 0.658);
  color: #1a202c;
}

.radio-container p {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 0.2rem;
  text-align: center;
}

.radio-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 2rem; */
}

.radio-option {
  display: flex;
  margin: 1rem 0;
}

.radio-option label {
  margin: 0 1rem;
  font-size: unset;
  font-weight: unset;
}

.vegan {
  color: green;
  margin-bottom: unset;
  text-transform: uppercase;
  margin-top: 1em;
}

/* SORT OPTIONS*/

.sort-options {
  width: 20%;
  margin: 0 auto 3em;
  background-color: #adc5ee;
  border-radius: 10px;
  padding: 1em;
}

.created span {
  margin: 2em 0;
}

.created h6 {
  margin: 2em 0 0;
}


/* HOME */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

main .login-btn {
  width: 40%;
  margin: 1.5rem auto;
}

.errmsg a {
  color: blue;
  font-size: 1.5rem;
  text-decoration: underline;
}

/* SEARCH BAR */

.search-container {
  width: 40%;
  margin: 2rem auto 3rem;
}

/* LOGIN PAGE */
